.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/.build
/captures
.idea
anr.txt
/*.iml
/build
*.iml
.idea/*

version.properties
app/*.log
*.apk
version.properties
app/release
